name: Deploy CI Pipeline

on: 
  push:
    branches:
      - master
  
jobs:
    hello_job:
      runs-on: ubuntu-24.04
      steps:
        - uses: actions/checkout@v3
          with:
            fetch-depth: 0
        - uses: actions/setup-node@v3
          with:
            node-version: '20'
        - name: Install dependencies
          run: npm install
        - name: Lint code
          run: npm run eslint